@charset "utf-8";

// List of variables to override https://bulma.io/documentation/customize/variables/
// Override variables here
$orange: #FFA93C;
$primary: $orange;

$navbar-background-color: rgba(red($primary), green($primary), blue($primary), 0.13);

// Import bulma styles
@import "~bulma";
// Import buefy styles
@import "~buefy/src/scss/buefy";
