@charset "utf-8";
@import "_variables";

// List of variables to override https://bulma.io/documentation/customize/variables/
// Override variables here
$green: #98DE9F;
$yellow: #FBE078;
$blue: #324254;
$cyan: #6DB9CD;
$orange: #FF9559;

$primary: $green;
$info: $blue;
$warning: $orange;
$link: hsl(229, 53%, 53%);

// $navbar-background-color: $app-primary-background-color;

// Import bulma styles
@import "~bulma";
// Import buefy styles
@import "~buefy/src/scss/buefy";

// override column negative margin for mobile
.columns {
  margin-right: 0;
  margin-left: 0;
  @media screen and (min-width: $desktop) {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
}
